#menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

#nav{
  display: flex;
  list-style-type: none;

}

a.list-menu {
  color: #000000;
  text-decoration: none;
  padding: 8px;

} 
a.list-menu:hover{
  color: #000000;
  font-weight: bold;
}

a.logo{
  text-decoration:none;
  color: #000;
  font-size: x-large;
  font-weight: 600;
}

#btn-connexion{
  display: flex;
list-style-type: none;}
.li{
  padding: 10px;
}

button.btn-login {
  margin-right: 20px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
}

button.btn-register {
  margin-right: 20px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background: #000000;
  color: white;
  font-size: 15px;
}


#section1{
  text-align: center;
  justify-items: center;
}
.todo-img{
  max-width: 45%;
  margin-right: 3%;
  height: auto;

}

h1{
  font-size: 4vw;
}
#group-btn-section1{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.item-btn{padding-right:55px}

button.btn-devie{
  margin-right: 20px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background: #ed733c;
  color: white;
  font-size: 15px;
}


button.btn-contact{
  margin-right: 20px;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid black;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;
}