#menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}

#nav{
  display: flex;
  list-style-type: none;
  padding-right: 10px;

}

a {
  color: #000000;
  text-decoration: none;
  padding: 8px;

} 